<a href="https://colab.research.google.com/github/dniggl/Insights/blob/main/Web_Scraping_Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Web scrape tables from a webpage and create a dataset.

In [40]:
# Import the required libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

Read a specific website URL and store the results in a variable. Then find the tables in the webpage that contain the words "Finals appearances" in the header of the table. The len function is used to return the length of the variable (NBA_tables) which is the number of tables found that matched.

In [41]:
NBA_tables = pd.read_html('https://en.wikipedia.org/wiki/NBA_Finals',
match = 'Finals appearances')
len(NBA_tables)

2

In this case there were two tables in the webpage whose titles contained the words 'Finals appearances'.

We will now create a data frame for a selected table in the NBA_tables variable. Since there were two tables found, we can specify either [0] for the first table or [1] for the second table. We will select the first table found in the webpage.

In [42]:
NBA_table = NBA_tables[0]

Show the first NBA table from the webpage in a data frame.

In [44]:
NBA_table.head()

,No.,Team,W,L,Win%,Most recent appearance,Most recent title,Notes
0,32,Minneapolis/Los Angeles Lakers,17,15,0.531,2020,2020,5–1 in Minneapolis and 12–14 in Los Angeles. C...
1,21,Boston Celtics,17,4,0.810,2010,2008,"Won eight straight titles from 1959 to 1966, a..."
2,11,Philadelphia/San Francisco/Golden State Warriors,6,5,0.545,2019,2018,2–1 in Philadelphia and 4–4 in California. Won...
3,9,Syracuse Nationals/Philadelphia 76ers,3,6,0.333,2001,1983,1–2 in Syracuse and 2–4 in Philadelphia. Won o...
4,8,New York Knicks,2,6,0.250,1999,1973,"In their most recent appearance, they became t..."

Now select and show the second NBA table found in the webpage.

In [45]:
NBA_table = NBA_tables[1]
NBA_table.head()

,P,Team,W,L,Win,Notes
0,185,Los Angeles Lakers,93,92,0.503,Holds the record for the most games in a Final...
1,129,Boston Celtics,77,52,0.597,Recorded the first ever sweep in the Finals. L...
2,53,Philadelphia 76ers,24,29,0.453,"Includes a record of 9–11 while in Syracuse, a..."
3,59,Golden State Warriors,34,25,0.576,Includes records of 10–6 while in Philadelphia...
4,48,New York Knicks,20,28,0.417,Lost 4–1 in their last Finals appearance in 1999.